body {
    background-color: rgb(26, 26, 26);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 916px) {

    .navbar-brand {
        text-align: center;
    }

    .logo-store {
        width: 35%;
        height: auto;
        margin-right: 15px;
    }

    .logo-spaf1 {
        width: 40%;
    }

    .navbar {
        background-color: rgba(26, 26, 26, 0.899);
        width: 100%;
    }

    .navbar-toggler.hambur {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        align-items: end;
        margin-right: 2%;
        background-image: url(../asets/img/menu\ burger.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navv-link.active {
        color: rgb(239, 255, 106);
    }

    .nav-item {
        font-weight: bold;
    }

    .logo-spaf-menu {
        width: 12%;
    }

    .logo-menu {
        width: 33%;
    }

    .wood-fondo {
        width: 100%;
        position: relative;
    }

    .wood-school {
        width: 100%;
    }

    .wood-business {
        width: 100%;
    }

    .cabeza{
        text-align: center;
        margin-top: 5%;
    }

    .cabeza-img{
        width: 80%;
    }

    .botones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 2%;
        margin-bottom: 7%;
        text-align: center;
    }

    .boton-img{
        width: 83%;
    }

    .hombre-clasica-img{
        width: 100%;
    }

    .mujer-clasica-img{
        width: 100%;
    }

    .redes {
        text-align: end;
        margin-right: 10%;
    }

    .ig {
        width: 20%;
    }

    .fb {
        width: 20%;
        margin-right: 5%;
    }

    .acepto {
        width: 15%;
        text-align: center;
        margin-top: 0;
    }

    .return {
        text-align: center;
    }

    .flecha {
        text-align: center;
        width: 8%;
        margin-top: 6%;
    }

    .negro-pie {
        width: 100%;
        margin-bottom: -0.090%;
    }

}

footer {
    background-color: rgba(26, 26, 26, 0.899);
    text-align: center;
    color: white;
    margin-top: 5%;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
/*----------------------------------------------*/

@media (min-width: 768px) and (max-width: 1950px) {

    .navbar-brand {
        text-align: center;
    }

    .logo-store {
        width: 35%;
        height: auto;
        margin-right: 15px;
    }

    .logo-spaf1 {
        width: 80%;
    }

    .navbar {
        background-color: rgba(26, 26, 26, 0.899);
    }

    .navv {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar-toggler.hambur {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
    }

    .hambur {
        position: absolute;
        right: 30px;
    }

    .navv-link.active {
        color: rgb(239, 255, 106);
    }

    .nav-item {
        font-weight: bold;
        margin: 5%;
    }

    .logo-spaf-menu {
        width: 12%;
    }

    .logo-menu {
        width: 33%;
    }

    .wood-fondo {
        width: 100%;
    }

    .wood-school {
        width: 100%;
    }

    .wood-business {
        width: 100%;
    }

    .redes {
        text-align: end;
        margin-right: 10%;
    }

    .ig {
        width: 20%;
    }

    .fb {
        width: 20%;
        margin-right: 5%;
    }

    .acepto {
        width: 15%;
        text-align: center;
        margin-top: 0;
    }

    .return {
        text-align: center;
    }

    .flecha {
        text-align: center;
        width: 8%;
        margin-top: 6%;
    }

    .negro-pie {
        width: 100%;
        margin-bottom: -0.090%;
    }

}

footer {
    background-color: rgba(26, 26, 26, 0.899);
    text-align: center;
    color: white;
    margin-top: 5%;

}