body {
    background-image: url(../asets/img/fondo\ plastic\ negro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: yellow;
}

li {
    list-style-type: none;
}

.logo-store {
    width: 25%;
    height: auto;
}

.navv {
    margin-left: 20px;
    margin-right: 20px;
}

.hambur {
    position: absolute;
    right: 30px;
}

.join {
    background-color: yellow;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: bold;
}

.join:hover {
    background-color: black;
    color: yellow
}

.marquesina {
    background-image: url(../asets/img/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    width: 100%;
    height: 450px;
}

.marquesina-txt {
    text-align: center;
}

.personaliza {
    color: white;
}

.personaliza-titulo {
    text-align: center;
    font-weight: bold;
    margin-top: 45px;
    font-size: 300%;
    color: yellow;
}

.personaliza-titulo2 {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

.pasos-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: auto;
}

.pasos-items-list {
    padding: 10px;
}

.pasos-items-list-num {
    font-weight: bold;
    font-size: 60px;
    color: yellow;
}

.pasos-items-list-title {
    width: 40px;
}

.img-title{
    width: 120px;
}

.img-title2{
    width: 54px;
}

.pasos-items-list-subtitle {
    font-size: 9px;
    text-align: start;
}

.pasos-items-list-img{
    width: 100px;
}

.pasos-items-list-img2{
    width: 140px;
}

.pasos-items-list-img3{
    width: 80px;
}

.nosotros {
    background-color: white;
    color: black;
}

.nosotros-img{
    position: relative;
    left: 30px;
    top: 180px;
}

.nosotros-txt {
    margin: 20px;
    margin-right: 20px;
    text-align: end;
}

.nosotros-title {
    margin: 20px;
    margin-right: 20px;
    text-align: end;
}

.franquicia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    color: white;
    margin: 30px;
}

.info{
width: 20%;
height: auto;
}

.franquicia-info {
    text-align: end;
}

.franquicia-info-subtitle {
    position: absolute;
    right: 20px;
    text-align: end;
}